@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Roboto:wdth,wght@75..100,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
nav {
    height: 80px;
    display: flex;

}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
    
}
.logo {
    width: 160px;
}

ul {
    display: flex;
    
}

li {
    list-style-type: none;
    
}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
    
}
.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
    
}